*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body > header{
    background-color: gray;  
    padding: 16px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li a{
    color: white;
    text-decoration: none;
}
.container{
    width: 1366px;
    margin: 0px auto 0px auto;
}
.articles{
    display: flex;
    justify-content: space-between;
}
.articles article img{
    width: 100%;
}
.articles article{
    width: 30%;
}
section{
    padding: 16px 0px;
}
section h2,
.articles article{
    margin-bottom: 16px;
}
.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}
.articles article a{
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}
.articles article a:hover{
    text-decoration: underline;
}
.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}
section h2{
    font-size: 32px;
}
#sports{
    background-color: rgba(0, 255, 0, 0.1);
}
#sports .articles article a{
    background-color: #009432;
}
#economy{
    background-color: #fffa68;
}
#economy .articles article a{
    background-color: #ff9f1a;
}
#tecnologia{
    background-color: rgb(131, 131, 248);
}
#entretenimento{
    background-color: #ac3c90;
}
#entretenimento .articles article a{
    background-color: #6f195a;
}
.rodape{
    color: white;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}